<!DOCTYPE html>
<html>
<title>Watch Guard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <a href="/"><h1><b>Watch Guard</b></h1></a>
    </header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
    {% for day in days %}
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <h3><b>{{ day.date }}</b></h3>
    </div>

    <div class="w3-container" style="margin: 0 -15px 0 -15px">
        <img width="100%" src="data:image/gif;base64,{{ day.data }}">
    </div>
  </div>
    {% endfor %}

<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-white">
      <h4><b>Temperature</b></h4>
      <p>Nothing to see</p>
    </div>
  </div>

<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>
</div>
</body>

</html>