<!DOCTYPE html>
<html>
<title>Watch Guard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .center {
        text-align: center;
    }

    img {
        margin-top: 50px;
    }
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
        <a href="/"><h1><b>Watch Guard</b></h1></a>
    </header>

    <div class="center">
        <h3><b>Enter</b> <label for="enter"></label><input  id="enter" type="text" placeholder="Token"></h3>
        {% if wrong %}
        <p style="color: darkred">Wrong password</p>
        {% endif %}
        <img src="image.png" height="500px">
    </div>

</div>
</body>
<script>
    const input = document.getElementById('enter');
    input.focus()
    input.addEventListener('keyup', (event) => {
        if (event.key === 'Enter') {
            const url = '/dashboard?token=' + input.value;
            window.location.href = url;
        }
    })
</script>
</html>